.breadCrumb {
  font-size: 17px;
  position: absolute;
  width: 100px;
  height: 30px;
  top: 25px;
  left: 10px;
}

.title {
  margin-top: 10px;
}

.subTitle {
  font-size: 17px;
}

.headerImage {
  width: 100%;
  max-width: 800px;
  height: 400px;
  object-fit: cover;
}

.authorWrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .date {
	font-size: 14px;
  }

  .author {
	font-size: 18px;
  }
}


.bodyWrapper {
  width: 100%;
  max-width: 650px;

  p {
	margin: 15px 0;
	line-height: 2.5rem;
	font-size: 17px;
  }

  h2 {
	margin: 50px 0 20px 0;
	font-weight: 400;
  }

  img {
	margin: 15px 0;
	width: 100%;
	max-width: 700px;
	height: auto;
  }

  blockquote {
	font-size: 14px;
	margin: -10px 0 30px 0;
  }

  p {
	margin-bottom: 30px;
  }
}

