.spacer {
  width: 100%;
}

.amount8 {
  height: 8px;
}

.amount15 {
  height: 15px;
}

.amount25 {
  height: 25px;
}

.amount50 {
  height: 50px;
}

.amount100 {
  height: 100px;
}

.amount300 {
  height: 300px;
}